doctype
html(lang='it' itemscope itemtype='http://schema.org/Framework')
  head
    title SBCatalog: the Social Business Catalog
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='robots' content='all')
    meta(name='referrer' content='origin')
    meta(name='viewport' id='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content='The Social Business Catalog is an aggregator, a showcase and an API for solidarity economy based suppliers and products')
    meta(name='author', content='beFair.it')
    meta(name='keywords', content='Solidarity Economy, Social Business Catalog, sbcatalog')
    meta(property='og:title' content='SBCatalog: the Social Business Catalog')
    meta(property='og:url' content='http://sbcatalog.labs.befair.it/')
    meta(property='og:description' content='The Social Business Catalog is an aggregator, a showcase and an API for solidarity economy based suppliers and products')
    meta(property='og:image' content="http://www.befair.it/favicon.ico")
    meta(property='og:type' content='website')
    meta(property='og:locale' content='en_US')
    meta(property='og:site_name' content='SBCatalog')

    link(rel='canonical' href='http://sbcatalog.labs.befair.it/')
    link(rel='icon' type='image/x-icon' href='http://www.befair.it/favicon.ico')
    link(rel='icon' type='image/png' href='http://www.befair.it/favicon.ico' sizes='16x16')
    link(rel='icon' type='image/png' href='http://www.befair.it/favicon.ico' sizes='32x32')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/libs/angular-material.min.css')
    link(rel='stylesheet' href='/libs/icomoon.css')
    link(rel='stylesheet' href='/libs/leaflet.css')
    link(rel='stylesheet' href='/styles/main.css')

    script(src='/libs/angular.min.js')
    script(src='/libs/angular-animate.min.js')
    script(src='/libs/angular-aria.min.js')
    script(src='/libs/angular-material.min.js')
    script(src='/libs/router.es5.min.js')
    script(src='/libs/leaflet.js')
    script(src='/libs/lodash.min.js')
    script(src='/app.js')
    script(src='/components/map/map.js')
    script(src='/components/catalog/catalog.js')
    script(src='/components/about/about.js')

  body(ng-app='sbApp' ng-controller='AppController as app')
    md-content
      md-toolbar
        .md-toolbar-tools
          span(flex)
          md-button(ng-link='map') Map
          md-button(ng-link='catalog') Catalog
          md-button(ng-link='about') About

    md-content
      h1 {{ ::app.title }}
      h3 {{ ::app.subtitle }}

    md-content
      div(ng-viewport='default')
